.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #c292de;
}
.profile {
    text-align: center;
    display: table-row;
    justify-content: center;
    align-items: center;
    background: #95a3e0;
    padding: 21px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.24);
    
}
h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.el-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.el {
 
    margin-left: 20px;
    text-align: left;
    font-size: 1.5em;
}
